<header>
    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Shop</a>
            <div class="navbar-nav">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
            </div>
        </div>
    </nav>
</header>